@font-face {
	font-family: "Bodoni72OldStyle";
	src: url("/fonts/BodoniSvtyTwoOSITCTT-BookIt.woff2") format("woff2"),
		url("/fonts/BodoniSvtyTwoOSITCTT-BookIt.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: OswaldLight;
	src: url("/fonts/Oswald-Light.woff2") format("woff2"),
		url("/fonts/Oswald-Light.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

$headingFont: "Bodoni72OldStyle", serif;
$itemFont: "OswaldLight", sans-serif;

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	font-family: helvetica, sans-serif;
	background-color: #000;
}

body {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hide {
	display: none;
}

#wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #303;
}

header {
	padding: 10px;
}

h1,
h2 {
	font-family: $headingFont;
	text-align: center;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2.5rem;
}

main {
	position: relative;
	width: 100%;
	margin: auto;
	overflow: hidden;
	flex-grow: 1;
}

#enter-things {
	max-width: 800px;
}

.nojs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

article {
	position: relative;
	overflow: hidden;
}

.wheel {
	// width: 800px;
	// height: 800px;
}

.pointer {
	width: 100px;
	height: 40px;
	position: absolute;
	right: 0;
	top: 380px;
}

.optionText {
	position: absolute;

	p {
		text-align: right;
		margin: 0;
		font-family: $itemFont;
		font-size: 25px;
		padding-right: 30px;
		color: #fff;
		text-shadow: #909 1px 0 10px;
	}
}

.loser {
	opacity: 0.4;
}

.throbber {
	animation: throbbe 1s ease-in-out infinite alternate;
}

.spinning {
	animation-name: spin360, spin360;
	animation-duration: 2s, 1s;
	animation-delay: 0ms, 2s;
	animation-timing-function: ease-in, linear;
	animation-iteration-count: 1, infinite;
}

.buttons {
	display: flex;
	padding: 10px;
}

button {
	font-size: 2rem;
	font-family: $itemFont;
	padding: 1rem 2rem;
	border-radius: 1rem;
	border: none;
	opacity: 0.1;
}

button.yay {
	opacity: 1;
}

button.form-button {
	font-size: 1.5rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	opacity: 1;
}

fieldset {
	border: none;
}

.all-things {
	display: flex;
	flex-direction: column;
}

.thing-entry {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	gap: 10px;
	padding-bottom: 10px;
}

.thing-entry label {
	font-size: 1.5rem;
	font-family: $itemFont;
}

.thing-entry input {
	font-size: 1.5rem;
	font-family: $itemFont;
}

.thing-entry button {
	font-size: 1.5rem;
	font-family: $itemFont;
}

.add-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.action-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}

@keyframes spin360 {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes throbbe {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f0f, 0 0 40px #0ff,
			0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}

	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
			0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}
