---
layout: main.njk
title: The Wheel of Things
script: main
---
<section class="top-link">
	<p><a href="/help">What is this?</a></p>
</section>

<section class="examples">
	<details>
		<summary>Examples</summary>
		<ul>
			<li><a href="/?things=Pasta^Sushi^Tex-Mex^Fryup^Chinese^Thai^Indian^Burger^Pizza">Dinner Things</a></li>
			<li><a href="/?things=Horror^Comedy^Action^Rom-Com^Sci-Fi^Thriller^Jason%2520Statham">Movie Things</a></li>
			<li><a href="/?things=Beer^White%2520Wine^Cider^Red%2520Wine^Gin%2520and%2520Tonic^Vodka%2520and%2520Orange^Water^Old-Fashioned">Drink Things</a></li>
		</ul>
	</details>
</section>

<div id="wrapper">
	<header>
		<h1>Wheel of Things</h1>
		<button id="change">CHANGE THINGS</button>
	</header>
	<main class="nojs" id="wheel-holder">
		<h2>Wheel of Things requires JavaScript.</h2>
		<h2>Sorry...</h2>
	</main>
	<aside class="buttons js">
		<button id="start">START</button>
		<button id="stop" class="hide">STOP</button>
	</aside>
</div>
