---
layout: main.hbs
title: Change the Things
permalink: things.html
---
<div id="wrapper">
	<header>
		<h1>Wheel of Things</h1>
		<h2>Enter your own things!</h2>
		<p class="instruction">You must have at least 2, and no more than 20.</p>
	</header>
	<main id="enter-things">
		<form>
			<fieldset>
				<div class="all-things">
					<div class="thing-entry">
						<label for="thing1">Thing 1</label>
						<input type="text" name="thing1" id="thing1" value="Thing 1" maxlength="30">
						<button class="removeThing form-button" tabindex="-1">Remove this thing</button>
					</div>
					<div class="thing-entry">
						<label for="thing2">Thing 2</label>
						<input type="text" name="thing2" id="thing2" value="Thing 2" maxlength="30">
						<button class="removeThing form-button" tabindex="-1">Remove this thing</button>
					</div>
					<div class="thing-entry">
						<label for="thing3">Thing 3</label>
						<input type="text" name="thing3" id="thing3" value="Thing 3" maxlength="30">
						<button class="removeThing form-button" tabindex="-1">Remove this thing</button>
					</div>
				</div>
				<div class="add-row">
					<button class="form-button" id="resetThings">Reset things</button>
					<button class="form-button" id="addThing">Add a thing</button>
				</div>
				<div class="action-buttons">
					<button class="form-button" id="cancel">Cancel</button>
					<button class="form-button" id="go">Go!</button>
				</div>
			</fieldset>
		</form>
	</main>
</div>
