{
  "extends": "@springernature/eslint-config",
  "env": {
    "commonjs": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "MicroModal": "readonly",
    "moment": "readonly"
  },
  "ignorePatterns": ["**/vendor/**/*.js", "**/public/**/*.js"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "indent": ["error", "tab"],
    "comma-dangle": ["error", "always-multiline"],
    "newline-per-chained-call": "warn",
    "no-console": "off",
    "no-param-reassign": [
      "error",
      {
        "props": true
      }
    ],
    "no-use-before-define": ["error", { "variables": false }],
    "prefer-const": "warn",
    "camelcase": [
      "error",
      {
        "allow": [
          "comments_field"
        ]
      }
    ],
    "import/no-unassigned-import": [
      "error",
      {
        "allow": [
          "app/assets/clientjs/polyfills",
          "@babel/polyfill"
        ]
      }
    ],
    "max-nested-callbacks": 0,
    "unicorn/prevent-abbreviations": 0,
    "unicorn/no-array-reduce": 1
  }
}
