<div id="wrapper">
	<header>
		<h1>Wheel of Things</h1>
		<button id="change">CHANGE THINGS</button>
	</header>
	<main class="nojs" id="wheelHolder">
		<h2>Wheel of Things requires JavaScript.</h2>
		<h2>Sorry...</h2>
	</main>
	<aside class="buttons js">
		<button id="start">START</button>
		<button id="stop" class="hide">STOP</button>
	</aside>
</div>
