<div id="wrapper">
	<header>
		<h1>Wheel of Things</h1>
	</header>
	<main id="enterThings">
		<h2>Enter your own things!</h2>
		<p>You must have at least 2, and no more than 20.</p>
		<form>
			<fieldset>
				<div class="thingEntry">
					<label for="thing1">Thing 1</label>
					<input type="text" name="thing1" value="Badgers">
				</div>
				<div class="thingEntry">
					<label for="thing2">Thing 2</label>
					<input type="text" name="thing2" value="Baboons">
				</div>
				<button class="yay" id="go">Go!</button>
			</fieldset>
		</form>
	</main>
</div>
