<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{{title}}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/public/css/style.css">

	<link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon/favicon-16x16.png">
</head>

<body>
	{{{ content }}}

	<script nomodule src="/public/js/es5bundle.main.js"></script>
	<script type="module" src="/public/js/main.js"></script>
</body>

</html>
