---
layout: main.njk
title: Change Things // The Wheel of Things
permalink: things.html
script: edit
---
<div id="wrapper">
	<header>
		<h1>The Wheel of Things</h1>
		<h2>Enter your own things!</h2>
		<p class="instruction">You must have at least 2, and no more than 30.</p>
	</header>
	<main id="enter-things">
		<form>
			<fieldset>
				<div class="all-things">
					{% for index in range(1, 4) %}
						<div class="thing-entry">
							<label for="thing{{ index }}">Thing {{ index }}</label>
							<input class="thing-value" type="text" name="thing{{ index }}" id="thing{{ index }}" value="Thing {{ index }}" maxlength="30" required>
							<button class="removeThing form-button" tabindex="-1">Remove this thing</button>
						</div>
					{% endfor %}
				</div>
				<div class="add-row">
					<button class="form-button" id="resetThings">Reset things</button>
					<button class="form-button" id="addThing">Add a thing</button>
				</div>
				<div class="action-buttons">
					<button class="form-button" id="cancel">Cancel</button>
					<button class="form-button" id="go">Go!</button>
				</div>
			</fieldset>
		</form>
	</main>
</div>

<script type="module" src="/public/js/{{assets.edit.js}}"></script>
