@use "sass:math";

@function strip-unit($value) {
	@return math.div($value, $value * 0 + 1);
}

/* prettier-ignore */
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
	$u1: math.unit($min-vw);
	$u2: math.unit($max-vw);
	$u3: math.unit($min-font-size);
	$u4: math.unit($max-font-size);

	@if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
		& {
			font-size: $min-font-size;
			@media screen and (min-width: $min-vw) {
				font-size: calc(
					#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
				);
			}
			@media screen and (min-width: $max-vw) {
				font-size: $max-font-size;
			}
		}
	}
}

@font-face {
	font-family: "Bodoni72OldStyle";
	src: url("/public/fonts/BodoniSvtyTwoOSITCTT-BookIt.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: OswaldLight;
	src: url("/public/fonts/Oswald-Light.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 10px;
$max_font: 20px;
$headingFont: "Bodoni72OldStyle", georgia, serif;
$itemFont: "OswaldLight", sans-serif;

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	font-family: $itemFont;
	background-color: #303;

	@include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
	color: #fff;
}

.hide {
	display: none;
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1,
h2 {
	font-family: $headingFont;
	text-align: center;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2.5em;
}

ul + p {
	margin-top: 2em;
}

p.instruction {
	font-family: $headingFont;
	font-size: 1.5em;
	margin: 10px auto;
}

main {
	position: relative;
	width: 100%;
	margin: auto;
	flex-grow: 1;
	flex-shrink: 0;
}

#wheel-holder {
	overflow: hidden;
}

#enter-things,
#help-copy {
	max-width: 800px;
}

.nojs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

article {
	position: relative;
	overflow: hidden;
}

.pointer {
	width: 100px;
	height: 40px;
	position: absolute;
	right: 0;
	top: 380px;
}

.optionText {
	position: absolute;
	transform: perspective(none);

	p {
		text-align: right;
		margin: 0;
		font-family: $itemFont;
		font-size: clamp(13px, min(2.5vh, 2.5vw), 34px);
		padding-right: 30px;
		color: #fff;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
			1px 1px 0 #000, 1px 0 10px #909;
	}
}

.loser {
	opacity: 0.4;
}

// .winner {
// 	font-size: 1.6em;
// }

.throbber {
	animation: throbbe 1s ease-in-out infinite alternate;
}

.spinning {
	animation-name: spin360, spin360;
	animation-duration: 2s, 1s;
	animation-delay: 0ms, 2.05s;
	animation-timing-function: ease-in, linear;
	animation-iteration-count: 1, infinite;
}

.buttons {
	display: none;
	padding: 10px;
}

body.js .buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

button {
	font-size: 2em;
	font-family: $itemFont;
	padding: 1rem 2rem;
	border-radius: 1rem;
	border: none;
	opacity: 0.1;
}

button.yay {
	opacity: 1;
}

button.form-button {
	font-size: 1.5em;
	padding: 0.5rem;
	border-radius: 0.25rem;
	opacity: 1;
}

button#change {
	opacity: 1;
	font-size: 1em;
	padding: 0.5rem 1rem;
}

fieldset,
.copy-panel {
	border: none;
	padding: 1em;
	background-color: #606;
}

.all-things {
	display: flex;
	flex-direction: column;
}

.thing-entry {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	gap: 10px;
	padding-bottom: 10px;
}

.thing-entry label {
	font-size: 1.5em;
	font-family: $itemFont;
	min-width: 100px;
	text-align: right;
}

.thing-entry input {
	font-size: 1.5em;
	font-family: $itemFont;
	border: 5px solid transparent;
}

.thing-entry input.invalid {
	border: 5px solid #f00;
	background-color: #faa;
}

.thing-entry button {
	font-size: 1.5em;
	font-family: $itemFont;
}

.add-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.action-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}

@keyframes spin360 {
	0% {
		transform: perspective(none) rotate(0deg);
	}

	100% {
		transform: perspective(none) rotate(360deg);
	}
}

@keyframes throbbe {
	from {
		font-size: 1.6em;
		text-shadow: 0 0 1px #000, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f0f,
			0 0 40px #0ff, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}

	to {
		font-size: 1.625em;
		text-shadow: 0 0 1px #000, 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
			0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}

.top-link {
	position: absolute;
	right: 1em;
	top: 1em;

	p {
		text-align: right;
		margin: 0 0 5px;
	}
}

.support {
	p {
		text-align: right;
		margin: 0 0 5px;
	}
}

body.wheelpage {
	height: 100vh;
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;

	#wrapper {
		height: 100vh;
		height: 100svh;
		width: 100vw;
	}

	.support {
		position: absolute;
		right: 1em;
		bottom: 1em;
	}
}

.copy-panel {
	p {
		font-size: 1.25rem;
		margin-bottom: 1em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	p.lede {
		font-size: 1.75rem;
	}
}

.top-link a,
.support a,
.copy-panel a,
.examples a,
.drm-notice a {
	color: #eee;
}

.top-link a:hover,
.support a:hover,
.copy-panel a:hover,
.examples a:hover,
.drm-notice a:hover {
	color: #fff;
}

ul {
	padding-left: 2em;
}

ul li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 1.25rem;

	&:last-child {
		margin-bottom: 0;
	}
}

.examples {
	position: absolute;
	left: 1em;
	top: 1em;
}

.examples summary {
	cursor: pointer;
}

.drm-notice {
	max-width: 600px;

	h1 {
		font-size: 3em;
		margin-bottom: 1em;
	}

	p,
	li {
		font-size: 1.4em;
		margin-top: 0;
		margin-bottom: 1em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
